.chat
  .header
    .header__left
      %b.header__left__current-group
        = @group.name
      %ul.header__left__members-list
        Members:
        %li.header__left__members-list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .header__edit-btn
      =link_to edit_group_path(@group.id) do
        Edit
  .messages
    = render @messages
  = render "chat_form"