.form {
  background-color: gray;
  box-sizing: border-box;
  height: 80px;
  padding: 20px 50px 20px 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 300px);
  &__message {
    border: none;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    position: relative;
    &__image {
      font-size: 20px;
      line-height: 50px;
      position: absolute;
      left: 870px;
    }
    .hidden {
      display: none;
    }
  }
  &__send-btn {
    background-color: $sky_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
