.wrapper {
  display: flex;
  .side-bar {
    width: 300px;
    .header {
      background-color: #253141;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
      &__name {
        color: #FFFF;
        text-align: center;
        font-size: 16px;
        display: inline-block;
      }
      &__lists {
        display: flex;
        float: right;
      .list {
        list-style: none;
        display: inline-block;
        .fas{
          color: white;
          padding-right: 5px;
        }
      }
      }
      }
    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 60px);
      padding: 0 20px;
      .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
        &__name {
          color: white;
          font-size: 15px;
        }
        &__message {
          color: white;
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
}